body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.wrapper, 
.gradient-wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 46px;
  padding-right: 61px;
  color: #2B3541;
}
.wrapper {
  background-color: rgba(254, 252, 254, 1);
}
.gradient-wrapper {
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
  width: 97px;
  height: 30px;
}
.insta, 
.fb {
  width: 30px;
  height: 30px;
  padding-right: 6px;
  padding-left: 24px;
  transition: 0.2s ease;
}
header { 
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 4px;
  align-content: center;
  height: 100%;
}
.nav {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}
.nav-info {
  flex-basis: 66%;
  padding-top: 5px;
}
.nav-item {
  padding-left: 27px;
  padding-right: 27px;
  line-height: 150%;
}
.nav-logo {
  margin-right: -18px;
  margin-bottom: 20px;
}
.nav-link {
  color: #2B3541;
  text-decoration: none;
  transition: 0.2s color ease;
}
.nav-link:hover {
  border-bottom: 1px solid #2B3541;
}
.insta:hover, 
.fb:hover {
  width: 38px;
  height: 38px;
}
main {
  display: flex;
  position: relative;
}
.photo {
  width: 996px;
  height: 852px;
}
.title-h1 {
  font-size: 48px;
  line-height: 125%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.title-h2 {
  font-size: 40px;
  line-height: 125%;
  font-weight: 400;
}
.text {
  line-height: 150%;
}
.photo-main {
  z-index: 1;
  position: absolute;
  right: 259px;
}
.main {
  padding-top: 197px;
  padding-left: 335px;
  position: relative;
  z-index: 2;
  padding-bottom: 260px;
}
.main .title-h2 {
  margin: 0;
  padding-top: 11px;
}
.main-description {
  padding-left: 92px;
}
.main-description .text {
  padding-bottom: 18px;
}
.button {
  width: 252px;
  height: 64px;
  background: #FBF138;
  border: none;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;
}
.button:hover {
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
  background: #2B3541;
  color: #FBF138;
}
button, 
button:active, 
button:focus,
input:active, 
input:focus {
  outline: none;
}
.arrow {
  position: absolute;
  left: 425px;
  top: 797px;
}
.title-h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.event-item.event-title {
  padding-left: 332px;
  display: flex;
  justify-content: flex-start;
}
.section-event {
  padding-top: 100px;
}
.event-description {
  display: flex;
  justify-content: center;
}
.event-item {
  display: flex;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;
}
.event-point {
  position: absolute;
  z-index: 2;
  padding-top: 8px;
  padding-left: 33px;
  padding-bottom: 200px;
}
.event-data {
  font-weight: 700;
  line-height: 150%;
  opacity: 0.6;
}
.event-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
}
.event-text {
  line-height: 150%;
  width: 126px;
  height: 47px;
  background-color: #FBF138;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.event-kind {
  z-index: 2;
  padding-top: 357px;
  margin-left: 209px;
}
.event-img {
  width: 366px;
  height: 600px;
}
.gradient-img {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient-img:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image:  linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);    
	opacity: 0.6;    
}
.event-fellowship {
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 221px;
  height: 64px;
  background-color:#2B3541;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
  color: #FBF138;
  font-weight: 700;
  font-size: 16px;  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.timetable {
  display: flex;
  justify-content: space-between;
  padding-right: 319px;
  padding-top: 120px;
  padding-left: 338px;
}
.timetable-box {
  border: 1px solid rgba(43, 53, 65, 0.5);
  box-sizing: border-box;
}
.timetable-data {
  line-height: 150%;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.timetable-name {
  font-weight: 700;
  line-height: 150%;
  padding-top: 20px;
}
.timetable-img {
  padding-left: 30px;
  padding-right: 10px;
}
.body {
  width: 65px;
  height: 65px;
}
.sculpt {
  width: 43px;
  height: 85px;
}
.lab {
  width: 91px;
  height: 50px
}
.jump {
  width: 67px;
  height: 106px;
}
.heart {
  width: 65px;
  height: 61px;   
}
.weight {
  width: 58px;
  height: 66px;
}
.timetable-body,
.timetable-sculpt, 
.timetable-lab,
.timetable-jump, 
.timetable-heart, 
.timetable-weight {
  width: 367px;
}
.timetable-body {
  height: 250px;
}
.timetable-sculpt {
  height: 402px;
}
.timetable-lab {
  height: 309px;
}
.timetable-jump {
  height: 433px;
}
.timetable-heart {
  height: 282px;
}
.timetable-weight {
  height: 375px;
}
.section-form {
  padding-top: 38px;
  padding-bottom: 67px;
}
.form-title {
  display: flex;
  justify-content: center;
  position: relative;
}
.circle-form {
  width: 106px;
  height: 106px;
  position: absolute;
  left: 546px;
  bottom: 15px;
  z-index: 1;
}
.form-title .title-h3 {
  position: relative;
  z-index: 2;
}
.form-item {
  display: flex;
  justify-content: space-evenly;
  margin-right: 565px;
  margin-left: 575px;
}
.input-email {
  width: 347px;
  padding: 20px 16px 18px;
  border: none;
}
.form-item .button {
  width: 225px;
}
.form-footer {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
}
.form-footer a {
  color: #2B3541;
}
.click {
  position: absolute;
  bottom: 8px;
  left: 600px;
}
.click:hover {
  background-image: url(/icons/check_box.svg)
}
.form-footer p {
  font-size: 11px;
  line-height: 150%;
  opacity: 0.5;
  padding-right: 288px;
  padding-top: 3px;
}
.section-about {
  padding-top: 165px;
  padding-bottom: 154px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 329px;
}
.gradient-about {
  width: 581px;
  height: 335px;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
}
.about-text {
  width: 483px;
  line-height: 150%;
}
.about-item .title-h3 {
  margin: 0;
}
.about-item .button {
  width: 225px;
  margin-top: 18px;
}
.about-img {
  margin: 0;
  padding-right: 329px;
}
.skill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding-top: 61px;
  margin-right: 270px;
  margin-left: 260px;
}
.skill-item {
  padding-left: 66px;
}

.title-skill {
  font-weight: 700;
  line-height: 125%;
}
.skill-description {
  line-height: 150%;
  opacity: 0.6;
}
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 52px 341px 7px 334px;
}
.footer .nav-info {
  font-size: 14px;
  line-height: 150%;
  padding-right: 142px;
}
.footer .nav-item {
  padding-left: 45px;
  padding-right: 48px;
}
.insta-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 42px;
  right: 476px;
  z-index: 2;
}
.footer .insta,
.footer .fb {
  width: 27px;
  height: 27px;
}
.circle-footer {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 41px;
  right: 600px;
  z-index: 1;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 326px;
  padding-left: 329px;
}
.footer-bottom p{
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.3;
}
.footer-link {
  transition: 00.2s ease;
}






